  <div class="bg-white">
    <div class="container my-3 py-5">
      <h2 class="text-center mb-3" class="mb-3">Ils nous font confiance</h2>

      <div class="row justify-content-center align-items-center">
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%=image_tag("usaid.png")%>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("senelec.jpg") %>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("bceao.png") %>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("sococim.png") %>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("sonatel.png") %>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("cbao.png") %>
        </div>
        <div class="client-logo col-sm-4 col-md-3 col-lg-1">
          <%= image_tag("oilibya.png") %>
        </div>
      </div>
    </div>
  </div>
