
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1564068505883-d0c6eb800651?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
  <div class="container">
    <h1>ÉTUDES | MANAGEMENT | FORMATIONS | COMMUNICATION</h1>
    <p>180 études et formations réalisées dans plus de 30 pays d'Afrique.</p>
    <a class="btn btn-adconseil" href="<%= contact_path %>">Contactez-nous</a>
  </div>
</div>


  <div class="container offres my-5">
    <h2 class="mb-3">Nos offres</h2>
    <div class="row">
      <a class="offre px-1 py-1 col-12 col-sm-6 col-lg-3" href="<%= offres_path %>#etudes">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529310399831-ed472b81d589?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);">
          Études
        </div>
      </a>

      <a class="offre px-1 py-1 col-12 col-sm-6 col-lg-3" href="<%= offres_path %>#management">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1642764984376-9b8adf8162b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80);">
          Management
        </div>
      </a>

      <a class="offre px-1 py-1 col-12 col-sm-6 col-lg-3" href="<%= offres_path %>#formations">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1581887300522-654ef6e6386d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);">
          Formations
        </div>
      </a>

      <a class="offre px-1 py-1 col-12 col-sm-6 col-lg-3" href="<%= offres_path %>#communication">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);">
          Communication
        </div>
      </a>
    </div>
    <a href="<%= offres_path %>" class="my-3 btn btn-adconseil">Découvrez nos offres</a>
    <a href="<%= contact_path %>" class="my-3 btn btn-adconseil-secondary">Contactez-nous</a>
  </div>

    <div class="bg-white">
    <div class="container my-3 py-5">
      <h2 class="text-center mb-3" class="mb-3">Ils nous font confiance</h2>

      <div class="row justify-content-center align-items-center">
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%=image_tag("orange_mali.png")%>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%=image_tag("usaid.png")%>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%= image_tag("senelec.jpg") %>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%= image_tag("bceao.png") %>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%= image_tag("sococim.png") %>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%= image_tag("sonatel.png") %>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%= image_tag("cbao.png") %>
        </div>
        <div class="client-logo col-4 col-sm-3 col-md-2 col-lg-1">
          <%=image_tag("canal.png")%>
        </div>
      </div>
    </div>
  </div>


  <div class="container my-5">
    <h2>A propos</h2>
    <div class="a-propos row">
      <img class="col-xs-12 col-sm-6 col-lg-3 pb-3" src="https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80"/>
      <div class="a-propos-content col-xs-12 col-sm-6 col-lg-7">
        <p class="px-3">
            AD Conseil est une agence de conseil fondée en 1998 qui accompagne les entreprises vers une croissance équilibrée et profitable.
            Nous nous engageons sur des résultats mesurables, du diagnostic aux recommendations. <br><br>
            Nos domaines d'expertise sont:<br>
            <i class="fa-solid fa-chevron-right"></i> Les études et le conseil marketing;<br>
            <i class="fa-solid fa-chevron-right"></i> Le management et la conduite du changement;<br>
            <i class="fa-solid fa-chevron-right"></i> Les formations dans tous les domaines de management;<br>
            <i class="fa-solid fa-chevron-right"></i> La communication: identité visuelle, design web, etc;<br>
        </p>
        <p class="a-propos-contact px-3 py-1">
          Tél: (221) 33 823 65 57<br>
          E-mail: adconseildakar@gmail.com<br>
        </p>
        <a href="<%= contact_path %>" class="px-3 py-1 btn btn-adconseil-secondary">Contactez-nous</a>
      </div>
    </div>
  </div>
